name: Release

on:
  workflow_dispatch:

jobs:
  build:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'adopt'
        check-latest: false

    - name: Build with Maven
      run: mvn -B install -DskipTests

    - name: Read version
      run: |
        RELEASE_TAG=$(cat ./src/main/resources/.version)
        RELEASE_VER=${RELEASE_TAG#v}
        echo "RELEASE_TAG=$RELEASE_TAG" >> $GITHUB_ENV
        echo "RELEASE_VER=$RELEASE_VER" >> $GITHUB_ENV

    # （可选）GitHub Release
    - name: Create GitHub Release
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: true
        artifacts: ./target/miz-translator-release.tar.gz,./target/miz-translator-release.zip
        tag: ${{ env.RELEASE_TAG }}
        name: ${{ env.RELEASE_TAG }}
        draft: false
        prerelease: false
        token: ${{ secrets.GITHUB_TOKEN }}

    # ===== Docker 部分 =====

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and Push Docker Image
      id: docker_build
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/amd64,linux/arm64
        push: true
        tags: |
          ${{ secrets.DOCKER_USER }}/miz-translator:latest
          ${{ secrets.DOCKER_USER }}/miz-translator:${{ env.RELEASE_TAG }}

    - name: Image digest
      run: echo "Digest=${{ steps.docker_build.outputs.digest }}"